/* Config */
:root {
    --crimson: rgb(121, 33, 50);
    --yellow: rgb(239, 236, 76);
    --yellow-dark: rgb(204, 202, 65);
    --white: rgb(255, 255, 255);
    --black-fade: rgba(0, 0, 0, .7);
    --overlay: var(--black-fade);
    --radius: 1rem;
    --transition: .3s linear;
    --primary-color: var(--crimson);
    --secondary-color: var(--yellow);
    --secondary-color-dark: var(--yellow);
    --overlay: var(--black-fade);
    --text: var(--white);
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;

}

html {
    box-sizing: border-box;
    font-size: 62.50%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    font-size: 1.6rem;
    background-color: var(--primary-color);
    letter-spacing: 1px;
    line-height: 1.5;
    color: var(--text);
}

h2 {
    font-size: 3rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
}

h3 {
    font-size: 2.2rem;
    text-transform: uppercase;
    margin-bottom: 3rem;
    font-weight: 300;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* p {
    max-width: 70rem;
} */

ul {
    list-style: none;
}

a {
    display: inline-block;
    color: var(--secondary-color);
}

button {
    display: inline-block;
    background: none;
    border: none;
}


section {
    padding: 6rem 0;
    min-height: 90vh;
}



.container {
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

.vertical-gutter>*+* {
    margin-top: 1.5rem;
}

.width-sm {
    width: 40rem;
}

.width-md {
    width: 60rem;
}

.width-lg {
    width: 80rem;
}

.center {
    margin-left: auto;
    margin-right: auto
}


/* components */
.btn {
    padding: 5px 10px;
    min-width: 15rem;
    text-align: center;
    border-radius: var(--radius);
    background-color: var(--secondary-color);
    transition: background-color var(--transition);
}


.btn:hover {
    background-color: var(--secondary-color-dark);
}

/* Header */

.overlay {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--overlay);
    visibility: hidden;
    opacity: 0;
    z-index: 999;
    transition: visibility var(--transition), opacity var(--transition);
}

.overlay.active {
    visibility: visible;
    opacity: 1;
}


.header {
    padding: 10px 0;
    background-color: var(--black-fade);
    position: fixed;
    top: 0;
    left: 0;
    height: 6rem;
    width: 100%;
    z-index: 1000;
}

.header .container {
    display: flex;
    align-items: center;
}

.header h1 {
    margin-right: auto;
    line-height: 1;
    display: flex;
    align-items: center;
    font-size: 2rem;
    color: var(--text);
}

.nav {
    display: flex;
    align-items: center;
}

.nav__list {
    position: fixed;
    display: flex;
    flex-direction: column;
    z-index: 1000;
    top: 0;
    right: -100%;
    min-height: 100vh;
    width: 300px;
    justify-content: center;
    align-items: center;
    transition: visibility var(--transition), right var(--transition);
    background-color: var(--black-fade);
    visibility: hidden;
}


.nav__list.active {
    visibility: visible;
    right: 0;
}




.nav__list li {
    display: flex;
    align-items: center;
    position: relative;
    right: -100%;
    transition: right var(--transition);
}

.nav__list.active li {
    right: 0;
}

.nav__list.active li:nth-child(1) {
    transition-delay: .3s;
}

.nav__list.active li:nth-child(2) {
    transition-delay: .4s;
}

.nav__list.active li:nth-child(3) {
    transition-delay: .5s;
}

.nav__list li:not(:last-child) {
    margin-bottom: 1.5rem;
}


.nav__list a {
    text-decoration: none;
    color: var(--white);
    padding: 5px 10px;
    text-transform: uppercase;
    position: relative;
    transition: color var(--transition), border var(--transition);
    border: 1px solid transparent;
}

.nav__list a:hover,
.nav__list a:focus {
    color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
}


.nav__toggle {
    padding: 5px;
    border-radius: 10px;
    border: none;
    height: 40px;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 10000;
    cursor: pointer;
}



.nav__toggle span {
    position: relative;
    display: block;
    width: 25px;
    height: 2px;
    background-color: var(--white);
    transition: background-color var(--transition);
}

.nav__toggle span::before,
.nav__toggle span::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--white);
    transition: top var(--transition), transform var(--transition);
    transform-origin: center;
}


.nav__toggle span::before {
    top: -8px;

}

.nav__toggle span::after {
    top: 8px;
}

.nav__toggle.active span {
    background-color: transparent;
}

.nav__toggle.active span::before {
    top: 0;
    transform: rotate(45deg);
}

.nav__toggle.active span::after {
    top: 0;
    transform: rotate(-45deg);
}

hr {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.3;

}

/* Introduction */
.introduction {
    display: flex;
    flex-direction: column;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#sub-intro {
    text-align: center;
    margin-bottom: 2rem;
}

#why-us {
    text-align: center;
    margin-top: 2rem;
}

/* Job description */
#job_container {
    display: flex;
    text-align: center;
}

.job_items img {
    width: 60%;
    background-color: var(--secondary-color);
    border-radius: 200px;
    margin: auto;
}

.job_items :nth-last-child(2) {
    font-size: 1.8rem;
}

.job_items :last-child {
    font-size: 1.4rem;
    padding: 1.2rem;
    text-align: center;
}

.job_items p {
    max-width: 70rem;
}

/* Contact form */
input[type='text'],
input[type='email'],
select,
textarea {
    width: 100%;
    padding: 12px;
    resize: vertical;
}

.contact_form {
    width: 60rem;
    margin-left: auto;
    margin-right: auto;
}

.contact-title {
    margin: 0;
}

.form_container {
    padding: 1em;
    border-radius: var(--radius);
    background-color: var(--overlay);
}

.contact {
    border-radius: var(--radius);
}

/* media queries */

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }

}


@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }

}

@media (min-width: 992px) {

    body {
        font-size: 1.8rem;
    }


    .container {
        max-width: 960px;
    }


    .nav__list {
        position: relative;
        visibility: visible;
        right: 0;
        flex-direction: row;
        justify-content: end;
        min-height: auto;
        width: auto;
        background-color: transparent;
    }


    .nav__list li {
        display: flex;
        align-items: center;
        position: static;
    }

    .nav__list li:not(:last-child) {
        margin-right: 1.5rem;
        margin-bottom: 0;
    }

    .nav__toggle {
        display: none;
    }

}


@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

@media (min-width: 1400px) {
    .container {
        max-width: 1320px;
    }

}

@media (max-width: 768px) {
    .contact_form {
        width: 40rem;
    }

    #job_container {
        display: flex;
        text-align: center;
        flex-direction: column;
    }

    .job_items img {
        width: 40%;
        background-color: var(--secondary-color);
        border-radius: 150px;
        margin: auto;
    }
}

@media (max-width: 410px) {
    .contact_form {
        width: 100vw;
    }

    .btn {
        min-width: auto;
    }

}