/* Config */
:root {
    --crimson: rgb(121, 33, 50);
    --yellow: rgb(239, 236, 76);
    --yellow-dark: rgb(204, 202, 65);
    --white: rgb(255, 255, 255);
    --black-fade: rgba(0, 0, 0, .7);
    --overlay: var(--black-fade);
    --radius: 10px;
    --transition: .3s linear;
    --primary-color: var(--crimson);
    --secondary-color: var(--yellow);
    --secondary-color-dark: var(--yellow-dark);
    --overlay: var(--black-fade);
    --text: var(--white);
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;

}

html {
    box-sizing: border-box;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    font-size: 16px;
    background-color: var(--primary-color);
    letter-spacing: 1px;
    line-height: 1.5;
    color: var(--text);
}

h2 {
    font-size: 30px;
    font-weight: 100;
    text-transform: uppercase;
    text-align: center;
}

h3 {
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 100;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

p {
    max-width: 700px;
}


ul {
    list-style: none;
}

a {
    display: inline-block;
    color: var(--secondary-color);
}

button {
    display: inline-block;
    background: none;
    border: none;
}


section {
    padding: 60px 0;
    min-height: 100vh;

}


.center-container {
    display: flex;
    align-items: center;
}


.container {
    width: 95%;
    padding: 0 15px;
    margin: 0 auto;
}

.vertical-gutter > *+* {
    margin-top: 15px;
}


.max-content {
    max-width: 700px;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.text-center {
    text-align: center;
}


/* components */
.btn {
    padding: 5px 10px;
    min-width: 150px;
    text-align: center;
    border-radius: var(--radius);
    background-color: var(--secondary-color);
    transition: background-color var(--transition);
    font-size: 16px;
}


.btn:hover {
    background-color: var(--secondary-color-dark);
}

.dark-bg {
    background-color: var(--black-fade);
    padding: 10px;
    border-radius: var(--radius);
}

.fixed-bg {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to bottom right, var(--primary-color) 50%, var(--secondary-color));
    background-color: var(--primary-color);
}

/* Header */

.overlay {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--overlay);
    visibility: hidden;
    opacity: 0;
    z-index: 999;
    transition: visibility var(--transition), opacity var(--transition);
}

.overlay.active {
    visibility: visible;
    opacity: 1;
}


.header {
    padding: 10px 0;
    background-color: var(--black-fade);
    position: fixed;
    top: 0;
    left: 0;
    height: 60px;
    width: 100%;
    z-index: 1000;
}

.header .container {
    display: flex;
    align-items: center;
}

.header h1 {
    margin-right: auto;
    line-height: 1;
    display: flex;
    align-items: center;
    font-size: 20px;
    color: var(--text);
}

.nav {
    display: flex;
    align-items: center;
}

.nav__list {
    position: fixed;
    display: flex;
    flex-direction: column;
    z-index: 1000;
    top: 0;
    right: 0;
    transform: translateX(100%);
    min-height: 100vh;
    width: 300px;
    justify-content: center;
    align-items: center;
    transition: visibility var(--transition), transform var(--transition);
    background-color: var(--black-fade);
    visibility: hidden;
}


.nav__list.active {
    visibility: visible;
    transform: translateX(0);
}




.nav__list li {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    transform: translateX(100%);
    transition: transform var(--transition);
    text-align: center;
}

.nav__list.active li {
    transform: translateX(0);
}

.nav__list.active li:nth-child(1) {
    transition-delay: .3s;
}

.nav__list.active li:nth-child(2) {
    transition-delay: .4s;
}

.nav__list.active li:nth-child(3) {
    transition-delay: .5s;
}

.nav__list li:not(:last-child) {
    margin-bottom: 15px;
}


.nav__list a {
    text-decoration: none;
    color: var(--white);
    padding: 5px 10px;
    text-transform: uppercase;
    position: relative;
    transition: color var(--transition), border var(--transition);
    border: 1px solid transparent;
}

.nav__list a:hover,
.nav__list a:focus {
    color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
}


.nav__toggle {
    padding: 5px;
    border-radius: var(--radius);
    border: none;
    height: 40px;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 10000;
    cursor: pointer;
}



.nav__toggle span {
    position: relative;
    display: block;
    width: 25px;
    height: 2px;
    background-color: var(--white);
    transition: background-color var(--transition);
}

.nav__toggle span::before,
.nav__toggle span::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--white);
    transition: top var(--transition), transform var(--transition);
    transform-origin: center;
}


.nav__toggle span::before {
    top: -8px;

}

.nav__toggle span::after {
    top: 8px;
}

.nav__toggle.active span {
    background-color: transparent;
}

.nav__toggle.active span::before {
    top: 0;
    transform: rotate(45deg);
}

.nav__toggle.active span::after {
    top: 0;
    transform: rotate(-45deg);
}

hr {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.3;

}

/* Introduction */
 .introduction {
    padding-top: 90px;
}


/* Job description */
#job_container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
}

.job_items {
    max-width: 300px;
}

.job_items h3,
.job_items p:first-of-type {
    text-align: center;
}

.job_items img {
    max-width: 150px;
    background-color: var(--secondary-color);
    border-radius: 50%;
    margin: auto;
}


/* Contact form */
input[type='text'],
input[type='email'],
select,
textarea {
    width: 100%;
    padding: 12px;
    resize: vertical;
}

.contact_form {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.contact-title {
    margin: 0;
}

.form_container {
    padding: 10px;
    border-radius: var(--radius);
    background-color: var(--overlay);
}

.contact {
    border-radius: var(--radius);
}

/* media queries */

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }

    .contact_form {
        width: 500px;
    }

}


@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }

    .contact_form {
        width: 600px;
    }

}

@media (min-width: 992px) {

    body {
        font-size: 18px;
    }


    .container {
        max-width: 960px;
    }

    h2 {
        font-size: 38px;
    }

    h3 {
        font-size: 30px;
    }


    .nav__list {
        position: relative;
        visibility: visible;
        transform: translateX(0);
        flex-direction: row;
        justify-content: end;
        min-height: auto;
        width: auto;
        background-color: transparent;
    }


    .nav__list li {
        transform: translateX(0);
        width: auto;
    }

    .nav__list li:not(:last-child) {
        margin-right: 15px;
        margin-bottom: 0;
    }

    .nav__toggle {
        display: none;
    }

}


@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

@media (min-width: 1400px) {
    .container {
        max-width: 1320px;
    }

}

